.titlesStudents{
  color: red;
  text-align: center;
  font-family: "Arial Black";
  font-size: 20px;
}

.Tables{
  width: 920px;
  border: 20px solid;
  margin: 100px auto;
}
.table-content{
  font-family: Arial;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}
td{
  height: 33px;
}
.Physiology{
  color: limegreen;
  font-size: 30px;
}
.othersCarrier{
  color: lightskyblue;
}
